.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // justify-content: flex-start;
    padding: 10px 0px;
    height: auto;
    align-items: center;
    width: 100%;

    @media(min-width: $token-media-query-lg) {
        flex-direction: row;
    }
}