.container {
    width: 80%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    background-color: white;
    border: 0px solid grey;
    box-shadow: 10px 13px 8px #aab4e7, -3px -3px 6px #f1f1f1;

    // width: 1000px;
    // height: 300px;
    overflow: auto;
    padding: 20px 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: var(--flexDirection);
    align-content: center;
    justify-content: center;
    align-items: center;

    
}

.container-content {
    background: white;
    margin: 3% auto;
    padding: 20px;
    border: 0px solid grey;
    width: 70%;
    height: inherit;
    max-height: 80%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: var(--flexDirection);
}

.close {
    background-color: white;
    width: 25px;
    height: 25px;
    border: 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 26%;

    &:hover {
        background-color: var(close-button-bg-color);
    }
}