.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    border: 1px solid grey;

    // width: 1000px;
    // height: 300px;
    overflow: auto;
    padding: 20px 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: var(--flexDirection);
    align-content: center;
    justify-content: center;
    align-items: center;

    button {
        width: 15vw;
        height: 10vw;
    }

    img {
        width: 50px;
        height: 50px;
        padding: 0px 5px;
    }
}

.container-content {
    background: white;
    margin: 3% auto;
    padding: 20px;
    border: 0px solid grey;
    width: 50%;
    height: inherit;
    max-height: 80%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: var(--flexDirection);
}

.close {
    background-color: white;
    width: 25px;
    height: 25px;
    border: 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 26%;

    &:hover {
        background-color: var(close-button-bg-color);
    }
}