.homepage-bg {
    width: 100%;
    height: 100%;
    min-height: 10.125rem;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
 
.homepage {
    .container {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width: $token-media-query-lg) {
            flex-direction: row;
            align-content: space-around;
            justify-content: space-around;
        }
    }

    &-title {
        font-family: $token-font-family-heading;
        font-size: $token-font-size-4xl;
        text-align: left;
        margin: 25px 0px;
    }

    &-subtitle {
        font-family: $token-font-family-text;
        font-size: $token-font-size-xl;
        color: $token-color-secondary-base;
        font-weight: 540;
        text-align: left;
    }
    
    .block {
        background-color: $token-color-white;
        width: 400px;
        height: 480px;
        border-radius: 40px;
        box-shadow: 24px 17px 25px -4px rgb(0 0 0 / 54%), -2px 0px 25px 0px white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $token-font-family-heading;

        .heading {
            font-size: $token-font-size-xl;
        }   

        .text {
            font-family: $token-font-family-text;
            font-size: $token-font-size-md;
        }
    }

    .login-button {
        background-color: rgb(0 0 0 / 0%);
        border-color: rgb(0 0 0 / 0%);
        border-radius: 10px;
        width: 100px;
        height: 40px;
        font-family: $token-font-family-text;
        font-size: $token-font-size-md;
        position: absolute;
        right: 3%;
        &:hover {
            background-color: $token-color-white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    .button {
        background-color: $token-button-primary-background-color-base;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-family: $token-font-family-text;
        color: $token-button-primary-text-color-base;
        font-size: $token-font-size-md;
        border: 0px solid white;
        font-weight: 200;
    
        &:hover {
            background: $token-color-gradient-purple-gradient;
            color: $token-button-primary-text-color-hover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
 
button {
    &:hover {
        cursor: pointer;
    }
}