.profile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    h5 {
        margin: 10px 0px 0px 0px;
    }

   .pane {
        background-color: white;
        width: auto;
        max-height: auto;
        height: auto;
        padding: 40px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        box-shadow: 10px 9px 38px #aab4e7c4, -3px -3px 6px #f1f1f1;

        @media(min-width: $token-media-query-lg) {
            width: 80%;
            height: auto;
        }
    }
    .header {
        padding: 0px 20px;
        display: flex;
        text-align: left;
    }

    .divider {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 20px;
        height: 100%;
        
        &--full {
            width: 100% important;
        }

        &--fifty {
            width: 50% !important;
        }
        
        &--thirty {
            width: 30%;
        }

        &--seventy{
            width: 70%;
        }
    }
}