.text-area {
    font-family: $token-font-family-text;
    width: auto;
    height: auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;

    .required {
        color: $token-font-color-danger;
    }

    .error {
        color: $token-font-color-danger;
    }

    .good {
        color: $token-font-color-danger;
    }

    &--content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--title {
        font-size: 22px;
        font-weight: $token-font-weight-normal;
        margin: 10px 0px;
        text-align: left;
    }

    &--input {
        width: inherit;
        height: auto;
        border-radius: 8px;
        border: 0px solid grey;
        box-shadow: 3px 4px 9px -2px #aab4e7cc;
        padding: 0px 10px;
        font-size: 20px;
        font-family: $token-font-family-text;

        &:focus {
            outline: none;
            box-shadow: 3px 5px 9px 0px $token-button-primary-background-color-base;
        }  
    }

    .error-input {
        box-shadow: 3px 5px 9px 0px $token-font-color-danger !important;
        
        &:focus {
            box-shadow: 3px 5px 9px 0px $token-font-color-danger !important;
        }
       
    }
}