.alert-box {
    font-family: 'Gill Sans MT';
    display: var(--alert-box-display);
    .error {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $token-font-color-danger;
        width: auto;
    }
}