.navbar-bg{
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    width: 5vw;
    height: 100vw;
    top: 0;
    left: 0px;
    top: 0px;
    background-size: cover;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: flex-start;
    -webkit-animation: slideIn 0.5s backwards;
    animation: slideIn 0.5s backwards;
    z-index: 20;
    background-color: white;

    .link-list {
        font-family: $token-font-family-text;
        list-style-type: none;
        font-size: 15px;
        display: flex;
        width: inherit;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        // padding: 0px 0px 0px 20px;
        padding: 0px;
    }

    &:hover {
        -webkit-animation: slide 0.5s forwards;
        animation: slide 0.5s forwards;
        padding: 0px;

        .link-list {
            padding: 0px;
            align-items: flex-start;
            width: auto;
            backdrop-filter: blur(8px);

            span {
                color: #b8b9be;

                &:hover {
                    color: white;
                }
            }
        }

        .blurred {
            backdrop-filter: blur(5px);

            .span {
                color: #b8b9be;
                display: block;
            };
        }
    }

    .blurred {
        // width: 78%;
        width: auto;
        height: 100vw;
        border: 2px solid #FFFFFF;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: flex-start;
        position: fixed;

        ul {
            width: inherit;
        }

        li {
            padding: 20px 0px;
            width: inherit;
        
            &:hover {
                color: white;
                background: linear-gradient(328.91deg, #0DEAE2 13.25%, #2DE49D 85.78%);
                a {
                    color: white;
                }

                cursor: pointer;

                img {
                    filter: brightness(0) invert(1);
                }

                .span {
                    color: white;
                }

            }
        }

        a {
            text-decoration: none;
            display: flex;
            width: 100%;
            justify-content: center;

            &:hover {
                color: white;
            }
        }

        img {
            width: 25px;
            height: 25px;
            padding: 0px 5px;
        }

        .span {
            color: rgb(0, 0, 0, 0);
            display: none;
        }
    }

    
}
@-webkit-keyframes slideIn {
    0% {
        width: 16vw;
        height: 100vw;
    }

    100% {
        width: 5vw;
        height: 100vw;
    }
    
}
@-moz-keyframes slideIn {
    0% {
        width: 16vw;
        height: 100vw;
    }

    100% {
        width: 5vw;
        height: 100vw;
    }
    
}

@keyframes slideIn {
    0% {
        width: 16vw;
        height: 100vw;
    }

    100% {
        width: 5vw;
        height: 100%;
    }
    
}

@-webkit-keyframes slide {
    0% {
        width: 5vw;
        height: 100vw;
    }
    100% {
        width: 16vw;
        height: 100vw;
    }
    
}

@-moz-keyframes slide {
    0% {
        width: 5vw;
        height: 100vw;
    }
    100% {
        width: 16vw;
        height: 100vw;
    }
}

@keyframes slide {
    0% {
        width: 5vw;
        height: 100vw;
    }
    100% {
        width: 16vw;
        height: 100vw;
    }  
}

