.navbar-bg{
    // box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    width: 100%;
    height: 10%;
    // border: 1px solid #b8b9be;
    top: 0;
    left: 0px;
    top: 0px;
    // background-size: cover;
    display: flex;
    position: -webkit-sticky;
    position: fixed;
    // background: linear-gradient(96deg, #8F60DF 7%, #6D3BD0 104.25%, #5D379E 125.73%);
    // background: linear-gradient(328.91deg, #6D3BC2 13.25%, #008AFF 85.78%);
    background: white;
    // border-bottom: 1px solid grey;
    // box-shadow: 0px 8px 10px #8792c9, -3px -3px 6px rgb(0 0 0 / 0%);
    // box-shadow: 0px 8px 10px #aab4e7, -3px -3px 6px rgb(0 0 0 / 0%);
    box-shadow: 8px 6px 9px #aab4e7, -3px -3px 6px #f1f1f1;
    top: 0px;
    // color: #b8b9be;
    color: black;
    justify-content: center;
    align-items: center;
    // -webkit-animation: slideIn 0.5s backwards;
    // animation: slideIn 0.5s backwards;
    z-index: 20;
    // background-color: white;

    .arrow {
        width: 15px !important;
        height: 15px !important;
    }

    .arrow-span {
        top: 15px;
        right: 85px;
        position: absolute;
    }

    .profile-button {
        background: white;
        border: 0px;
        display: flex;
        flex-direction: column;
    }

    .profile {
        box-shadow: 3px 3px 6px rgb(0 0 0 / 25%);
        border-radius: 50%;
        padding: 5px;
    }

    .dropdown {
        &--ul {
            display: none;
            position: absolute;
            top: 79px;
            width: auto !important;
            border-radius: 10px;
            box-shadow: 10px 13px 8px #aab4e7, -3px -3px 6px #f1f1f1;
            list-style-type: none;
            background: white;
            padding: 10px;
            /* overflow: auto; */
            /* margin: 0px; */
            text-align: left;
        }
        &--li {
            width: 100% !important;

            button {
                background: white;
                border: 0px;
                font-family: $token-font-family-text;
            }
        }

        &:hover {
            display: block;
        }
    }

    h3 {
        text-align: center;
        padding: 20px 0px;
        width: 20%;
    }

    .span{
        color: black;
        background: white;
        border: 0px solid;
        display: flex;
        flex-direction: column;
    }

    .link-list {
        font-family: $token-font-family-text;
        list-style-type: none;
        font-size: 15px;
        display: flex;
        width: inherit;
        // flex-direction: row;
        align-content: center;
        justify-content: center;
        // color: #b8b9be;
        color: black;
        align-items: center;
        // padding: 0px 0px 0px 20px;
        padding: 0px;
    }

    &:hover {
        // -webkit-animation: slide 0.5s forwards;
        // animation: slide 0.5s forwards;
        padding: 0px;

        // .span {
        //     display: flex;
        // }
        .link-list {
            padding: 0px;
            // align-items: center;
            // width: inherit;
            // backdrop-filter: blur(8px);

            span {
                // color: #b8b9be;
                color: white;

                &:hover {
                    color: white;
                }
            }
        }

        .blurred {
            // backdrop-filter: blur(5px);

            .span {
                // color: #b8b9be;
                color: black;
                background: white;
                border: 0px solid;
                display: block;
            };

            a {
                color: black;
                // justify-content: center;
            }
        }
    }

    .blurred {
        // width: 78%;
        width: inherit;
        height: 10%;
        // border: 2px solid #FFFFFF;
       
        display: flex;
        align-items: center;
        // flex-direction: row;
        align-content: flex-start;
        position: fixed;

        ul {
            width: inherit;
            justify-content: space-between;
        }

        li {
            padding: 20px 0px;
            text-align: center;
            //width: inherit;jj
            width: 10%;
            img {
                width: 30px;
                height: 30px;
            }
            &:hover {
                // background: $token-color-primary-light;
                border-bottom: 3px solid $token-color-primary-dark;

                a {
                    color: black;
                    // justify-content: center;
                }

                cursor: pointer;

                // img {
                //     width: 30px;
                //     height: 30px;
            
                // }

                .span {
                    color: black;
                }

            }
        }

        a {
            text-decoration: none;
            display: flex;
            width: 100%;
            justify-content: center;
            // color: #cccccc;
            color: black;
            display: block;

            &:hover {
                color: white;
            }
        }

        // img {
        //     width: 25px;
        //     height: 25px;
        //     padding: 0px 5px;
        // }
    }

    
}
// @-webkit-keyframes slideIn {
//     0% {
//         width: 16vw;
//         height: 100%;
//     }

//     100% {
//         width: 5vw;
//         height: 100%;
//     }
    
// }
// @-moz-keyframes slideIn {
//     0% {
//         width: 16vw;
//         height: 100%;
//     }

//     100% {
//         width: 5vw;
//         height: 10%;
//     }
    
// }

// @keyframes slideIn {
//     0% {
//         width: 16vw;
//         height: 100%;
//     }

//     100% {
//         width: 5vw;
//         height: 100%;
//     }
    
// }

// @-webkit-keyframes slide {
//     0% {
//         width: 5vw;
//         height: 100%;
//     }
//     100% {
//         width: 16vw;
//         height: 10%;
//     }
    
// }

// @-moz-keyframes slide {
//     0% {
//         width: 5vw;
//         height: 100%;
//     }
//     100% {
//         width: 16vw;
//         height: 100%;
//     }
// }

// @keyframes slide {
//     0% {
//         width: 5vw;
//         height: 100%;
//     }
//     100% {
//         width: 16vw;
//         height: 100%;
//     }  
// }

