.search-input {
    width: auto;
    // font-size: 16px;
    font-size: 22px;
    font-family: $token-font-family-text;
    width: auto;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 18px;
        margin: 0px;
    }
    
    .required {
        color: $token-font-color-danger;
    }

    .error {
        color: $token-font-color-danger;
    }

    &--title {
        // font-size: 16px;
        font-size: 22px;
        font-weight: $token-font-weight-normal;
        margin: 10px 0px;
        text-align: left;
    }

    &--input {
        width: inherit;
        // height: 30px;
        height: 35px;
        border-radius: 8px;
        border: 0px solid grey;
        box-shadow: 3px 4px 9px -2px #aab4e7cc;
        padding: 0px 10px;
        // font-size: 16px;
        font-size: 20px;
        font-family: $token-font-family-text;

        &:focus {
            outline: none;
            // border: 2px solid $token-button-primary-background-color-base;
            box-shadow: 3px 5px 9px 0px $token-button-primary-background-color-base;
        }  
    }

    .error-input {
        // border: 2px solid $token-font-color-danger !important;
        box-shadow: 3px 5px 9px 0px $token-font-color-danger !important;
        
        &:focus {
            // border: 2px solid $token-font-color-danger !important;
            box-shadow: 3px 5px 9px 0px $token-font-color-danger !important;
        }
       
    }

    option {
        // font-size: 16px;
        font-size: 20px;
        font-family: $token-font-family-text;
    }
}