.new-patient-page-bg {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    // background-position-y: -110px;

    .new-patient-page {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        backdrop-filter: blur(30px);
    }
}