h3 {
    font-family: $token-font-family-heading;
}

.login-form {
    padding: 20px 0px;
    .form {
        padding: 20px 0px;
    }

    .div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        background-color: $token-button-primary-background-color-base;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-family: $token-font-family-text;
        color: $token-button-primary-text-color-base;
        font-size: $token-font-size-md;
        border: 0px solid white;
        font-weight: 200;
    
        &:hover {
            color: $token-button-primary-text-color-hover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

