.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Bogue Regular';
  src: url("/fonts/Bogue\ Regular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family:'Gill Sans Mt';
  src: url("/fonts/gill-sans-mt.ttf") format('truetype'),
        url("/fonts/Gill\ Sans\ MT\ Bold.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Bold\ Condensed.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Bold\ Extra\ Condensed.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Bold\ Italic.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Book.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Book\ Italic.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Condensed.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Extra\ Bold.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Heavy.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Heavy\ Italic.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Light.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Light\ Italic.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Medium.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Medium\ Italic.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Ultra\ Bold.ttf") format('truetype')
        url("/fonts/Gill\ Sans\ MT\ Ultra\ Bold\ Condensed.ttf") format('truetype'); 
  font-display: swap;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
