body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Bogue';
  src: url('../dist/fonts/Bogue\ Regular.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Black.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Black\ Italic.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Bold.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Bold\ Italic.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Extrabold.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Extrabold\ Italic.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Italic.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Light.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Light\ Italic.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Medium.ttf') format('truetype'),
        url('../dist/fonts/Bogue\ Medium\ Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family:'Gill Sans Mt';
  src: url('../dist/fonts/gill-sans-mt.ttf') format('truetype');
  font-display: swap;
}